.checkboxWrapper {
    display: flex;
    align-items: center;
    padding-left: 13px;
    column-gap: 12px;

    label {
        font-family: "GT Walsheim", sans-serif;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 9px 17px 8px 0px;
        position: relative;
        transition: all 300ms;
    }

    span {
        padding: 0;
    }
}

.checkboxIcon {
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid #B8C1CC;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
}

.media {
    width: 34px;
    height: 35px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxChecked {
    
        background: rgba(83, 59, 229, 0.08);
    

    .checkboxIcon {
        background: #533BE5;
    }
}