.button {
  background: #533be5;
  box-shadow: 0px 3px 0px #3f2abd;
  border-radius: 8px;
  width: 94px;
  height: 33px;
  font-family: "GT Walsheim";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 11px;
  border: none;
  padding: 0;

  &:active {
    box-shadow: 0px 1px 0px #3f2abd;
    transform: translateY(2px);
    transition: all 100ms;
  }
}

.icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-left: 15px;

  &:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}