.modal {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    background: #FFFFFF;
    box-shadow: 2px 2px 30px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 24px;
    width: 100%;
    max-width: 505px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.modalLink {
    font-family: 'GT Walsheim';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #533BE5;
    display: flex;
    align-items: center;
    column-gap: 8px;

}