.inputWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    input {
        color: #6C6F75;
        height: 36px;
        display: block;
        background: #ffffff;
        border: 1px solid #dfe1e4;
        border-radius: 8px !important;
        padding: 8px 12px;
        width: 100%;
        font-family: "GT Walsheim";
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2px;

        &:hover, &:focus, &:focus-visible, &:focus-within {
            border-color: #533BE5 !important;
        }

        &::placeholder {
            color: #dfe1e4;
        }
    }
}

.searchIcon {
    position: absolute;
    z-index: 3;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputInnerWrapper {
    position: relative;
}

.inputLabel {
    font-family: 'GT Walsheim';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;

    color: #6C6F75;
}

.searchInput {
    input {
        padding: 8px 36px;
    }
}