.modalInner {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.subtitle {
    font-family: 'GT Walsheim';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #6C6F75;
}

.inputsWrapper {
    display: flex;
    column-gap: 8px;
}

.emptyBlock {
    height: 226px;
    width: 100%;
    background: #F4F4F4;
    border-radius: 8px;
}

// .description {
//     font-family: 'GT Walsheim';
// font-weight: 400;
// font-size: 12px;
// line-height: 20px;
// /* identical to box height, or 167% */

// letter-spacing: 0.2px;

// color: #6C6F75;
// }